USE [Web_API_Task]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 7/3/2024 8:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](500) NULL,
	[Address] [nvarchar](max) NULL,
	[Mobile] [nvarchar](10) NULL,
	[City_Id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCity]    Script Date: 7/3/2024 8:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCity](
	[CityId] [int] NOT NULL,
	[StateId] [int] NULL,
	[CityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCity] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCountry]    Script Date: 7/3/2024 8:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountry](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCountry_1] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 7/3/2024 8:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NULL,
	[StateName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblState] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_Users] ON 

INSERT [dbo].[Tbl_Users] ([ID], [User_Name], [Address], [Mobile], [City_Id]) VALUES (1, N'Vikas', N'pune', N'8745213658', 380)
INSERT [dbo].[Tbl_Users] ([ID], [User_Name], [Address], [Mobile], [City_Id]) VALUES (2, N'Ravi', N'pune', N'6745217658', 380)
INSERT [dbo].[Tbl_Users] ([ID], [User_Name], [Address], [Mobile], [City_Id]) VALUES (4, N'Ruturaj Sardar Patil', N'Hari Patil Galli', N'0832944526', 380)
SET IDENTITY_INSERT [dbo].[Tbl_Users] OFF
GO
INSERT [dbo].[tblCity] ([CityId], [StateId], [CityName]) VALUES (1, 1, N'Anantapur')
INSERT [dbo].[tblCity] ([CityId], [StateId], [CityName]) VALUES (2, 1, N'Chittoor')
INSERT [dbo].[tblCity] ([CityId], [StateId], [CityName]) VALUES (3, 1, N'Cuddapah')
GO
SET IDENTITY_INSERT [dbo].[tblCountry] ON 

INSERT [dbo].[tblCountry] ([CountryId], [CountryName]) VALUES (1, N'India')
INSERT [dbo].[tblCountry] ([CountryId], [CountryName]) VALUES (2, N'USA')
INSERT [dbo].[tblCountry] ([CountryId], [CountryName]) VALUES (3, N'UK')
SET IDENTITY_INSERT [dbo].[tblCountry] OFF
GO
SET IDENTITY_INSERT [dbo].[tblState] ON 

INSERT [dbo].[tblState] ([StateId], [CountryId], [StateName]) VALUES (1, 1, N'Andra Pradesh')
INSERT [dbo].[tblState] ([StateId], [CountryId], [StateName]) VALUES (2, 1, N'Arunachal Pradesh')
INSERT [dbo].[tblState] ([StateId], [CountryId], [StateName]) VALUES (3, 1, N'Assam')
SET IDENTITY_INSERT [dbo].[tblState] OFF
GO
ALTER TABLE [dbo].[tblCity]  WITH CHECK ADD  CONSTRAINT [FK_tblCity_tblState] FOREIGN KEY([StateId])
REFERENCES [dbo].[tblState] ([StateId])
GO
ALTER TABLE [dbo].[tblCity] CHECK CONSTRAINT [FK_tblCity_tblState]
GO
ALTER TABLE [dbo].[tblState]  WITH CHECK ADD  CONSTRAINT [FK_tblState_tblCountry1] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tblCountry] ([CountryId])
GO
ALTER TABLE [dbo].[tblState] CHECK CONSTRAINT [FK_tblState_tblCountry1]
GO
/****** Object:  StoredProcedure [dbo].[SP_Web_API_Task]    Script Date: 7/3/2024 8:51:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Web_API_Task]
(
@Id int = null,
@Name nvarchar(500) = null,
@Address nvarchar(max) = null,
@mobile nvarchar(10) = null,
@City nvarchar(50) = null,
@CityId int = null,
@State nvarchar(50) = null,
@StateId int = null,
@Country nvarchar(50) = null,
@CountryId int = null,
@Flag nvarchar(30) =null
)
as
begin
if(@Flag = 'Save')
begin
	if(@Id != 0)
		begin
			update Tbl_Users set User_Name = @Name,Address = @Address,Mobile = @mobile,City_Id = @CityId where ID = @Id
			
		end
	else
		begin
			insert into Tbl_Users values (@Name,@Address,@mobile,@CityId)
		end
end
if(@Flag = 'UserList')
begin
select * from Tbl_Users as u
inner join tblCity as c on c.CityId = u.City_Id
end
if(@Flag = 'EditUser')
begin
select * from Tbl_Users as u
inner join tblCity as c on c.CityId = u.City_Id where ID = @Id
end
if(@Flag = 'Delete')
begin
delete Tbl_Users  where ID = @Id
end
if(@Flag = 'country')
begin
select * from tblCountry
end
if(@Flag = 'State')
begin
select * from tblState where CountryId = @CountryId
end
if(@Flag = 'City')
begin
select * from tblCity where StateId = @StateId
end
end
GO
